body {
    background: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 40px auto;

        h1 {
            color: white;
            font-weight: normal;
            text-align: center;
            font-size: 40px;
        }
        .panels {
            list-style-type: none;
            padding: 0;

            li {
                position: relative;
                width: 25%;
                margin: 0;
                display: block;
                box-sizing: border-box;
                float: left;

                div {
                    width: 100%;
                    padding: 50% 0;
                    text-align: center;
                    color: white;
                    font-size: 20px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    cursor: pointer;
                    line-height: 0;
                }
                
                .front {
                    position: absolute;
                }
                .back {
                    transform: rotateY(90deg);
                }
                &:hover {
                    .front {
                        animation: twirl 0.2s ease-in forwards;
                    }
                    .back {
                        animation: twirl 0.2s 0.2s ease-out forwards reverse;
                    }
                }
            }
        }
    }
}
@keyframes twirl {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}
