img {
    object-fit: contain;
    height: 150px;
    width: 150px;
}
.grid-flexbox {
    background-color: white;
    text-align: left;
    padding: 20px;
    max-width: 100%;
    .container {
        width: 100%;
        .flexbox {
            border: 1px solid #333;
            padding: 20px;
            .deals-flexbox-container {
                display: flex;
                flex-wrap: wrap;
                .sale-item-flexbox {
                    border: 1px solid #333;
                    text-align: center;
                    padding: 20px;
                    margin: 10px;
                    width: 400px;
                    min-height: 100px;
                }
            }
        }
        /*.grid {
            .grid-container {
                background-color: #333;
                display: grid;
                grid-template-columns: repeat(5, 500px);
                grid-auto-rows: 200px;
                // grid-template-rows: repeat(3, 100px);
                .grid-items {
                    color: white;
                    border: 2px solid white;
                    text-align: center;
                    margin: 10px;
                    padding: 20px;
                }
            }
        } */
    }
}