body {
    background-color: #333;
    text-align: left;
    padding: 20px;
    color: white;
    font-size: 25px;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 250px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    // grid-template-areas: 
        // Row and Column
        //  C1   c2
        // "header header" // R1
        // "sidebar content" // R2
        // "sidebar content"; // R3


    /* ALIGNMENT */
    justify-content: center; /// just the same with flexbox
    align-content: center;
    .grid-items {
        border: 1px solid white;
        padding: 20px;
    }
    .grid-item-1 {
        // grid-column-start: 1;
        // grid-column-end: -1; // negative 1 for the rest of the column
        // Short hand for this ^
                // you can use as well `span 2`
                // start / end
        grid-column: 1 / -1;

        // grid-area: header;
    }
    .grid-item-2 {
        // grid-row-start: 2;
        // grid-row-end: 4; 
        grid-row: span 2;
    }
    .grid-item-3 {
        // grid-area: content;
        
        grid-row: span 2;
    }
}