/**
Main SCSS
*/
body {
    text-align: center;
    margin: 0;
    font-family: Calibri, sans-serif;
    font-weight: normal;
}


@import 'mario';
@import 'popup';
@import 'shopping-cart';
@import 'flipping-cards';
@import 'grid-flexbox';
@import 'grid';