
.mario-example {
    background-color: skyblue;
    width: 100%;
    box-sizing: border-box;
    .circle {
        height: 100px;
        width: 100px;
        line-height: 100px;
        background-color: pink;
        margin: 60px auto;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        color: white;
        transition: background 1s, transform 1s 1s ease-in; 
        display: none;
        &:hover {
            background: salmon;
            transform: rotate((360deg));
            // transform: scale(2);
        }
    }
    .sky {
        background-color: skyblue;
        height: 300px;
        position: relative;
        text-align: left;
        .cloud {
            position: absolute;
            &:nth-child(1) {
                width: 200px;
                top: 120px;
                opacity: 0.5;
                //Animation short-hand
                animation: wind 80s linear infinite reverse;
            }
            &:nth-child(2) {
                width: 300px;
                top: 0;
                //Animation short-hand
                animation: wind 50s linear infinite reverse;
            }
        }
    }
    .grass {
        background-color: seagreen;
        height: 200px;
    }
    .road {
        text-align: left;
        background-color: dimgray;
        height: 300px;
        border-top: 10px solid gray;
        border-bottom: 10px solid gray;
        position: relative;
        .lines {
            border: 5px dashed #fff;
            height: 0;
            top: 45%;
            width: 100%;
            position: absolute;
        }
        .mario {
            position: absolute;
            top: -40px;
            left: 0px;
            // animation-name: drive;
            // animation-duration: 3s;
            // animation-fill-mode: both;
            // animation-iteration-count: infinite;
            // animation-timing-function: cubic-bezier(0,.77,1,.3);
            // animation-direction: linear;
            /*Animation short-hand & chaining */
            animation: drive 10s both infinite linear,
                       jump 0.3s 5s ease;
        }
        .luigi {
            position: absolute;
            top: 100px;
            left: 0px;
            // animation-name: drive;
            // animation-duration: 4s;
            // animation-fill-mode: both;
            // animation-iteration-count: infinite;
            // animation-direction: linear;
            animation: drive 4s both infinite linear;
        }
    }
}
@keyframes drive {
    from { transform: translateX(-200px); }
    to { transform: translateX(2800px); }
}
@keyframes wind {
    from { left: -300px; }
    to { left: 100%; }
}
@keyframes jump {
    0%{ top: -40px; }
    50%{ top: -100px; }
    100%{ top: -40px; }
}