
.pop-up-animation-example {
    background-color:#222;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;

    .pop-up {
        position: relative;
        top: 200px;
        width: 500px;
        margin: 0 auto;
        text-align: center;

        top: -400px;
        transform-origin: 10px 10px;
        animation: drop 0.5s ease forwards,
                   swing 2s 3s ease forwards;
        img {
            width: 500px;
            position: absolute;
            top: -7.5px;
            left: 0;
        }
        .container {
            background: #f0e4d4;
            padding: 30px;
            position: absolute;
            top: 50px;
            width: 100%;
            box-sizing: border-box;
        }
        p {
            margin-bottom: 40px;
        }
        input {
            padding: 10px;
            border: 0;
            border-radius: 10px 0 0 10px;
            border: 1px solid #333333;
            font-size: 18px;
        }
        button {
            border-radius: 0 10px 10px 0;
            font-size: 18px;
            padding: 10px;
            margin-left: -5px;
            color: #fff;
            background-color: #333;
            border: 1px solid #333333;
        }
        .cross {
            position: absolute;
            background-color: #555;
            top: 10px;
            left: 10px;
            width: 22px;
            color: #ddd;
            font-weight: bold;
            height: 22px;
            text-align: center;
            padding: 0;
            border-radius: 11px;
        }
    }
}
@keyframes drop {
    0%{ opacity: 0;}
    70%{ transform: translateY(700px); }
    100%{ transform: translateY(650px); opacity: 1; }
}
@keyframes swing {
    0%{ 
        transform: translateY(650px) rotateZ(0deg)
    }
    40%{
        transform: translateY(650px) rotateZ(90deg)
    }
    70%{
        transform: translateY(650px) rotateZ(70deg)
    }
    100%{
        transform: translateY(650px) rotateZ(75deg)
    }
}