
.basket {
    background-color: white;
    header{
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        background: #fff;
        &:after{
            display: block;
            content: "";
            clear: both;
        }
        div {
            float: right;
            position: relative;
            z-index: 1;
        }
        h1 {
            float: left;
        }
    }
    ul {
        padding: 0;
        margin-top: 40px;
        li {
            display: inline-block;
            list-style-type: none;
            width: 30%;
            margin: 30px 1.5%;
            text-align: center;
        }
    }
    button{
        border-radius: 10px;
        cursor: pointer;
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    .zoom {
        position: absolute;
        top: 40px;
        right: 50%;
        width: 40px;
        opacity: 0;
        animation: zoom 1s ease forwards;
    }
}
@keyframes zoom {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 40px;
    }
}